# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
# 配置zk的数据路径,一般软件安装再opt路径下, 数据存放在var路径下
dataDir=/var/hdp/zookeeper
# the port at which the clients will connect
clientPort=2181
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1

## Metrics Providers
#
# https://prometheus.io Metrics Exporter
#metricsProvider.className=org.apache.zookeeper.metrics.prometheus.PrometheusMetricsProvider
#metricsProvider.httpPort=7000
#metricsProvider.exportJvmInfo=true
# server表示zk的服务节点, 后面的数字表示权重,后面由两个端口,其含义是:当其中一台是主节点时,其他节点为从节点,则主节点使用2888,当主节点挂掉后,所有节点都不是主节点状态时,大家都使用3888端口,需要重新选举
# 2888端口号是zookeeper服务之间通信的端口，而3888是zookeeper与其他应用程序通信的端口
server.1=hdp1.com:2888:3888
server.2=hdp2.com:2888:3888
server.3=hdp3.com:2888:3888

